body{
    font-family:"Roboto";
    margin:0px;
    background-image: url("https://yesterdayafter.files.wordpress.com/2016/12/blog-red-background.jpg");
    background-size: 1050px;
}
header{
    font-family:"Product Sans";
    background-color: #b60404;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
  text-align:center;
}
header h1{
    font-size:56px;
    font-weight:500;
    margin:0px;
}
nav a{
    display:inline-block;
    font-weight:500;
    font-size:14px;
    text-transform:uppercase;
    line-height:64px;
    margin:0px 16px;
    cursor:pointer;
}
h2{
    color:rgb(255, 255, 255);
    font-size:34px;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.navigation{
    color: white;
}
.welcome {
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
    width: 100%;
    position: relative;
  }
footer {
    height: 100px;
    color: white;
    text-align: center;
  }
  .navs{
      text-align: center;
  }